.section1_container .grand_titre{
    background-image: linear-gradient(108deg, #FF8601 8%, #00C7FF 40%, #FF8601 77%, #FF8601 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3.5rem;
}
.role{
    display: flex;
    gap: 2rem;
}
.info{
    font-weight: bold;
}


/*========section3============*/
.leprojet{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}
.titre_section_3{
    background-image: linear-gradient(108deg, #FF8601 8%, #00C7FF 40%, #FF8601 77%, #FF8601 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.desc_projet p{
    opacity: 0.5;
}

/*=========section4==========*/
.images_deco{
    background-color: black;
    height: 20rem;
    width: 100%;
    border-radius: 5rem;
    
}
.images_deco img{
    height: 20rem;
    width: 100%;
    border-radius: 5rem;
}
/*=========section5_etapes========*/
.etape_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    color: white;
}
.etape{
    background-color: black;
    border-radius: 2rem;
}
.etape img{
    height: 20rem;
    width: 99%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.etape p{
    padding:2rem
}


.card_projetd{
    box-shadow: 0px 0px 10px black;;
}

.card_projetss{
    margin-top: 2rem;
}